{% extends 'template.html.twig' %}

{% block body %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ personne.firstname }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ personne.lastname }}</h6>
      <p class="card-text">Age : {{ personne.age }} ans</p>
      <a href="#" class="card-link">...</a>

    </div>
  </div>
{% endblock %}

{% block title %}
  liste des personnes
{% endblock %}
{% block pageTitle %}
 Detail de personne
{% endblock %}

