{% extends 'template.html.twig' %}
{% block title %}
Liste de personnes
{% endblock %}
{% block pageTitle %}
Person List
{% endblock %}
{% block body %}
<div class="row">
    {% for personne in personnes  %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ personne.firstname }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personne.lastname }}</h6>
            <p class="card-text"> {{ personne.age}} ans</p>
            <a href="{{ path('personne.detail',{id :personne.id}) }}" class="card-link">Detail</a>

        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}