{% extends 'template.html.twig' %}
{% block title %}
    Todo
{% endblock %}
{% block pageTitle %}
  List of Todos
{% endblock %}
{% block body %}
<ul class="list-group">
    {% for name,content in app.session.get('todos') %}
        <li class="list-group-item">
            {{ name }} : {{ content }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
